<?xml version="1.0" encoding="UTF-8"?>

<!-- 'plugin name' equals 'unequivocal plugin id' -->
<plugin name="basic-plugin" title="Pentaho Basic Plugin">
	
	<!-- ========================================= -->
  	<!--     CONTENT TYPE ACTIONS DECLARATION      -->
  	<!-- ========================================= -->

	<content-types>

		<!-- ================================ -->
	  	<!--   STATIC RESOURCES DECLARATION   -->
	  	<!-- ================================ -->

        <static-paths>
        	<!-- this translates to /api/repos/basic-plugin/<LOCAL_FOLDER>/<STATIC_RESOURCE> -->
            <static-path url="/basic-plugin/resources" localFolder="resources"/>
            <static-path url="/basic-plugin/lang" localFolder="lang"/>
            <!-- add extra static-resource declarations here -->
        </static-paths>

		<!-- for now we'll use a file extension that we know the platform is aware of, but later on we'll create our own -->
		<!-- see pentaho-solutions/system/ImportHandlerMimeTypeDefinitions.xml for list of recognized mimeTypes + file extensions -->

        <content-type type="properties" mime-type="text/plain"> <!-- see plugin.spring.xml -->
        	<title>TXT</title>
	      	<operations>

	      		<!-- a couple basic operation ids: RUN, NEWWINDOW, BACKGROUND, EDIT, SCHEDULE_NEW, .. -->

	      		<operation>
		          	<id>RUN</id> 
		          	<!-- no perspective set: uses default /generatedContent -->
		        </operation>

		        <operation>
		          	<id>EDIT</id>

		          	<!-- "perspective" equals "bean-id declared in plugin.spring.xml" 	-->
		          	<!-- The following lookup logic is used ( by this order ): 			-->
					<!-- (1) <file-extension> + <dot> + <perspective>  					-->
					<!-- (2) <perspective> 												-->
		          	<perspective>properties.edit</perspective> 
		        </operation>
		    </operations>
    	</content-type>

      <!-- =================================== -->
      <!-- DEDICATED BASIC PLUGIN CONTENT TYPE -->
      <!-- =================================== -->

      <content-type type="bp" mime-type="application/vnd.basic-plugin.text"> <!-- see plugin.spring.xml -->
          <title>TXT</title>
          <operations>

            <operation>
                <id>RUN</id> 
                <!-- no perspective set: uses default /generatedContent -->
            </operation>

            <operation>
                <id>EDIT</id>

                <!-- "perspective" equals "bean-id declared in plugin.spring.xml"   -->
                <!-- The following lookup logic is used ( by this order ):      -->
                <!-- (1) <file-extension> + <dot> + <perspective>           -->
                <!-- (2) <perspective>                        -->
                <perspective>bp.edit</perspective> 
            </operation>
        </operations>
      </content-type>

    </content-types>

    <!-- ================================ -->
  	<!--    EXTERNAL RESOURCES LOADING    -->
  	<!-- ================================ -->

    <external-resources>
    	<file context="mantle">api/repos/basic-plugin/resources/basic-plugin-startup.js</file>
  	</external-resources>

  	<!-- ================================ -->
  	<!--     LIFECYCLE LISTENER BEAN      -->
  	<!-- ================================ -->

	<lifecycle-listener class="pt.webdetails.basic.plugin.BasicPluginLifecycleListener" />

  <!-- ================================ -->
  <!--      OVERLAYS DECLARATION        -->
  <!-- ================================ -->

  <overlays>

  <!-- =================== -->
  <!-- 'CREATE NEW' BUTTON -->
  <!-- =================== -->

      <overlay id="launch" resourcebundle="api/repos/basic-plugin/lang/messages">
          <button id="btn_new_basic_plugin" 
              label="${bp.btn.create.new}" 
              command="Home.openFile('${bp.btn.create.new}', '${bp.bnt.create.new.title}', 'plugin/basic-plugin/api/ready');$('#btnCreateNew').popover('hide');"/>
      </overlay>

  <!-- =================== -->
  <!--     TOP MENU BAR    -->
  <!-- =================== -->

      <!-- Menu File: New -->
    <overlay id="startup_file_new_bp" resourcebundle="api/repos/basic-plugin/lang/messages">
        <menubar id="newmenu">
            <menuitem id="file_new_bp" 
              label="${bp.file.new}" 
              command="mantleXulHandler.openUrl('${bp.file.new}','${bp.file.new.title}','plugin/basic-plugin/api/ready')">
            </menuitem>
        </menubar>
    </overlay>

    <!-- Menu Tools -->
    <overlay id="startup_tools_bp" resourcebundle="api/repos/basic-plugin/lang/messages">
      <menubar id="toolsmenu">
          <menuitem id="tools_bp" 
            label="${bp.tools.menu.item}" 
            command="mantleXulHandler.openUrl('${bp.tools.menu.item}','${bp.tools.menu.item.title}', 'plugin/basic-plugin/api/ready')">
          </menuitem>
        </menubar>
      </overlay>

  </overlays>


  <!-- ============================= -->
  <!--    PERSPECTIVE DECLARATION    -->
  <!-- ============================= -->

  <perspective id="bp.perspective" 
          title="Basic Plugin" 
          resourcebundle="api/repos/basic-plugin/lang/messages" 
          content-url="plugin/basic-plugin/api/ready"
          required-security-action="org.pentaho.security.administerSecurity" /> 

</plugin>
