<?xml version="1.0" encoding="UTF-8"?>
<plugin name="basic-plugin" title="Pentaho Basic Plugin">
	
	<overlays>
		<overlay id="startup.basic-plugin" resourcebundle="content/basic-plugin/resources/lang/messages">
			<menubar id="toolsmenu">
	        	<menuitem id="basic-plugin" 
	        			  label="${launcher.basic-plugin}" 
	        			  command="mantleXulHandler.openUrl('${launcher.basic-plugin}','${launcher.basic-plugin.tooltip}', 
	        			  'api/repos/%3Apublic%3Abasic-plugin-dir%3Ahello-world.txt')"/>
	      	</menubar>
	    </overlay>
	</overlays>

	<lifecycle-listener class="pt.webdetails.basic.plugin.BasicPluginLifecycleListener" />
	
	<content-types>

        <static-paths>
        	<!-- this translates to /pentaho/api/repos/resources/PATH_OF_STATIC_RESOURCE -->
            <static-path url="/basic-plugin/resources" localFolder="resources"/>
        </static-paths>

        <!-- OPERATION IDS: OPEN, NEWWINDOW, EDIT, SCHEDULE_NEW, SCHEDULE_EDIT, RUN, BACKGROUND, PARAMETER -->

        <content-type type="txt" mime-type="text/plain">
        	<title>TXT</title>
	      	<operations>
		        <operation>
		          	<id>RUN</id>
		          	<perspective>bp.content.viewer</perspective> <!-- bean id declared in plugin.spring.xml -->
		        </operation>
		    </operations>
    	</content-type>

    	<content-type type="log" mime-type="text/plain">
        	<title>LOG</title>
	      	<operations>
		        <operation>
		          	<id>RUN</id>
		          	<perspective>bp.content.viewer</perspective> <!-- bean id declared in plugin.spring.xml -->
		        </operation>
		    </operations>
    	</content-type>

    </content-types>
    
    <external-resources />

</plugin>
